<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{title}}</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/css/index2.css">
<link href="/static/css/index.css" rel="stylesheet" type="text/css">
<script src='/static/js/jquery.js'></script>
<!--[if lt IE 9]>
	<script src="/static/js/css3-mediaqueries.js"></script>
<![endif]-->
<script type="text/javascript" src="/static/js/jQueryColor.js"></script>
<!--这个插件是瀑布流主插件函数必须-->
<script type="text/javascript" src="/static/js/jquery.masonry.min.js"></script>
<!--这个插件只是为了扩展jquery的animate函数动态效果可有可无-->
<script type="text/javascript" src="/static/js/jQeasing.js"></script>
<script src='/static/js/index.jt'></script>
</head>
<body>
	<div id="todays_palette">
	
		<div style="background-color: rgb(159, 208, 212);color:rgb(159, 208, 212);">#9fd0d4</div>
		<div style="background-color: rgb(135, 189, 214);color:rgb(135, 189, 214);">#87bdd6</div>
		<div style="background-color: rgb(183, 215, 232);color:rgb(183, 215, 232);">#b7d7e8</div>
		<div style="background-color: rgb(207, 225, 232);color:rgb(207, 225, 232);">#cfe1e8</div>
		<div style="background-color: rgb(218, 235, 234);color:rgb(218, 235, 234);">#daebea</div>
		<div style="background-color: rgb(232, 232, 232);color:rgb(232, 232, 232);">#e8e8e8</div>
	</div>
	<header id="header">
		<div id="searchdiv">
			<input type="hidden" id="getsrc" value='/api/getpiclist/10'>
			<input type="text" placeholder="美好的事物从这里开始" name='search' id='search' autocomplete="off">
			<a href=""><input type="image" src="/static/img/search.png" id="searchbt"></a>
			<div id="serchbg"></div>
		</div>
		<div id="hotsearch">
			大家都在找: 
			{% for s in hot %}
				<a href="/search/{{s.name}}">{{s.name}}</a>
			{% endfor %}
		</div>
	</header>

	<div class="recommend-line"><a>为您推荐</a></div>




{% extends "public.html" %}
{% set active_page = "index" %}
